.jumbotron {
  background-color: #ff3f34;
  color: #fff;
  text-align: center;
}
.w60 {
  width: 60%;
}

.imgcss {
  /* max-width: 16rem; */
  max-height: 14rem;
  padding: 1rem;
  min-height: 14rem;
  background: linear-gradient(45deg, red,orange,yellow,green,blue,indigo,violet);
}
.namepoke {
  height: 1rem;
  font-size: 1.1rem;
}
