/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    font-family: 'Comic Neue', cursive;
} */
body {
  font-size: 5rem;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  background: linear-gradient(45deg, red,orange,green,skyblue,yellow,violet);
}

